<div class='col-md-8 col-lg-8'>
  <h2>カテゴリー一覧<%= image_tag 'h2.png', :size =>'40x40' %></h2>
  <ul class="categories">
    <% @parents.each do |parent| %>
    <li class="parents">
      <%= link_to "#{parent.name}", category_path(parent), class: 'text-dark' %>
      <ul class="categories_children">
        <% parent.children.each do |child| %>
        <li class="children">
          <%= link_to "#{child.name}", category_path(child), class: 'text-dark' %>
          <ul class="categories_grandchildren">
            <% child.children.each do |grandchild| %>
            <li class="grandchildren">
              <%= link_to "#{grandchild.name}", category_path(grandchild), class: 'text-dark' %>
              <% end %>
            </li>
          </ul>
        <% end %>
        </li>
      </ul>
    <% end %>
    </li>
  </ul>
</div>