<footer class="bg-dark text-white pt-5 pb-4 fixed-bottom">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4 col-lg-3">
            <p>ほかほかごはんを食べよう</p>
            <p>© rara</p>
          </div>
          <div class="col-md-8 col-lg-9">
            <div class="pull-right">
              <%= image_tag 'logologo-white.png', :size =>'50x50' %>
            </div>
          </div>
        </div>
      </div>
    </footer>